<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.css">
    <title>Log In - MentorCruise</title>

</head>
<body>
    <div class="container">

        <div class="left-box">

            <img src="./logo.jpg" alt="">


        </div>
        <div class="right-box">
           

            <div class="containers">

                <div class="heading">Log In</div>
                <div class="title-box">
                    <p id="mentee">Mentee</p>
                    <p id="mentor">Mentor</p>
                </div>
                <form action="/login" method="post" class="form">
                  <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
                  <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
                  <span class="forgot-password"><a href="#">Forgot Password ?</a></span>
                  <input class="login-button" type="submit" value="Sign In">
                </form>
                  <span class="mentee-reg"><a href="/register">Register as Mentee</a> </span>
                  <span class="mentor-reg"><a href="/mentorregister">Apply as Mentor</a></span>
                  <span class="errmsg mentee-reg">{{msg}}</span>
              </div>
        
        </div>
            

    </div>


    <script src="./login.js"></script>
</body>
</html>